*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


body{
    background-color:  #efeeef;
    color: #333;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#f15b0e,#fe8446);
}

.a{
    background-image: url('assets/clg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8px;
    padding: 20px;
    height:500px;
}



.navlist{
    display: flex;
    background-color: #ffffff;
}
.navlist a{
    color: var(--text-colour);
    font-weight: 600;
    padding: 10px 25px;
    font-size: var(--normal-font);
    transition: all .36s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #f15b0e;
}


.centerImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    align-items: center;
    margin-right: 450px;
    float: right;
    display: block;
    overflow: hidden;
}
button i{
    color: rgb(93,94,95);
}
button:hover i{
    color: rgb(162,163,163);
}


.start{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    margin: 10px;
}
.title{
    margin: 2px;
    color: #ffffff;
    text-shadow: #0e0d0d;
    font-size: 30px;
    letter-spacing: 0cap;
}
.para{
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}


.search-box{
    width: 600px;
    height: auto;
    background-color: #faf8f7;
    margin: 10px;
    border-radius: 5px;
    margin-top: 90px;
   
}


.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
}

#input-box{
    text-align: left;
}

#but{
    background: #f15b0e;
    border: 0;
    outline: 0;
    width: 25px;
    height: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
.result-box ul{
border-top: 1px solid #999;
padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
background: #e9f3ff;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}
nav {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.logo p{
    padding: 10px;
    font-weight: bold;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px; 
}
.navlist li {
    margin-left: 20px;
}

.navlist li a {
    text-decoration: none;
    color: rgb(31, 23, 23);
    padding: 10px 20px;
    display: block;
}

.s{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 50px;
    filter: drop-shadow(5px 5px 10px #aaa8a8);

}
.sample{
    border: 5px solid #f15b0e;
}

.sample:hover{
    transform: scale(0.9) translateY(-5px);
    cursor:pointer;
}

/* From Uiverse.io by kamehame-ha */ 
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f15b0e;
  }
  
  .cards .blue {
    background-color: #f15b0e;
  }
  
  .cards .green {
    background-color: #f15b0e;
  }

  .cards a{
text-decoration: none;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;

  }
  
  .cards .card .tip {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing:1px ;
    word-spacing: 1px;


  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }