/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.topbar {
  background: linear-gradient(135deg, #f15b0e, #ff7e5f); 
  padding: 20px;
  text-align: center;
}

#logo {
  height: 80px; 
}

h3 {
  color: white;
  font-size: 24px;
}

h5{
  margin-top: 10px; 
}


.f1 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

h4 {
  font-size: 16px;
  color: #f15b0e;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  border-color: #f15b0e;
  outline: none;
}

.button {
  background: linear-gradient(135deg, #f15b0e, #ff7e5f); 
  color: white;
  border: none;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.button:hover {
  background: linear-gradient(135deg, #d34e0a, #ff7e5f); /* Darker gradient for hover effect */
}

@media (max-width: 600px) {
  .row {
      flex-direction: column;
  }

  .col {
      margin-right: 0;
      margin-bottom: 15px;
  }
}
